PORT=8000
MONGODB_URI=mongodb://kishanvaghasiya042_db_user:<password>@ac-nndtec8-shard-00-00.r6z6d4q.mongodb.net:27017,ac-nndtec8-shard-00-01.r6z6d4q.mongodb.net:27017,ac-nndtec8-shard-00-02.r6z6d4q.mongodb.net:27017/?ssl=true&replicaSet=atlas-119b6v-shard-0&authSource=admin&appName=Cluster0
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=kpx
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=kpx
REFRESH_TOKEN_EXPIRY=10d